root = true

[*]
indent_style = space
end_of_line = lf
insert_final_newline = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

[*.cs]
indent_size = 4
charset = utf-8-bom
[*.{csproj,fsproj}]
indent_size = 2

[directory.Build.props]
indent_size = 2

[*.sln]
end_of_line=crlf
